# Dependencies
node_modules/
vendor/
.yarn/
.pnp.*

# Build
.phpunit.result.cache
artifacts/
build/
dist/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# WordPress
*.log
.env
.listmonk.env
.wp-env/
